body {
  font-family: Consolas, monospace;
  background-color: #121212;
  color: white;
}

.form-control, .form-control-file, .btn {
  background-color: #333;
  color: white;
  border-color: #555;
}

.container {
  max-width: 800px;
  margin: auto;
}

#log-output {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #333;
  overflow-y: auto;
  max-height: 400px;
}

.log {
  padding: 5px;
  margin: 5px 0;
  border-radius: 3px;
}

.log.INFO {
  background-color: #00529B;
}

.log.ERROR {
  background-color: #D8000C;
}

.log.WARNING {
  background-color: #9F6000;
}

.log.DEBUG {
  background-color: #4CAF50;
}

#start-button {
  background-color: #007bff; /* Blue */
  border-color: #007bff;
}

#start-button:hover {
  background-color: #0056b3; /* Light blue */
  border-color: #0056b3;
}

#clear-button {
  background-color: #6c757d; /* Gray */
  border-color: #6c757d;
}

#clear-button:hover {
  background-color: #5a6268; /* Light gray */
  border-color: #5a6268;
}

#download-button {
  background-color: #28a745; /* Green */
  border-color: #28a745;
}

#download-button:hover {
  background-color: #218838; /* Light green */
  border-color: #218838;
}
